@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
}

:root {
  /* ------------------- */
  /*       Colors        */
  /* ------------------- */

  /* White & Black */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Grey */
  --color-grey-500: #626c7f;
  --color-grey-50: #f4f6fa;

  /* Blue */
  --color-blue-950: #2d3949;
  --color-blue-900: #313e51;
  --color-blue-850: #3b4d66;
  --color-blue-500: #306aff;
  --color-blue-300: #abc1e1;
  --color-blue-100: #edf1f9;
  --color-blue-50: #ebf0ff;

  /* Green */
  --color-green-500: #2fd887;
  --color-green-100: #e0fdef;

  /* Purple */
  --color-purple-600: #a729f5;
  --color-purple-100: #f6e7ff;

  /* Orange */
  --color-orange-400: #ff7e35;
  --color-orange-50: #fff5ed;

  /* Red */
  --color-red-500: #ee5454;

  /* ------------------- */
  /*     Typography      */
  /* ------------------- */

  /* Font Family */
  --font-rubik: "Rubik", sans-serif;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* Font Sizes */
  --fs-144: 9rem;
  /* 144px */
  --fs-88: 5.5rem;
  /* 88px */
  --fs-64: 4rem;
  /* 64px */
  --fs-40: 2.5rem;
  /* 40px */
  --fs-36: 2.25rem;
  /* 36px */
  --fs-28: 1.75rem;
  /* 28px */
  --fs-24: 1.5rem;
  /* 24px */
  --fs-20: 1.25rem;
  /* 20px */
  --fs-18: 1.125rem;
  /* 18px */
  --fs-14: 0.875rem;
  /* 14px */

  /* Line Heights */
  --lh-100: 1;
  --lh-120: 1.2;
  --lh-150: 1.5;

  /* ------------------- */
  /*       Spacing       */
  /* ------------------- */
  --spacing-100: 0.5rem;
  /* 8px */
  --spacing-200: 1rem;
  /* 16px */
  --spacing-300: 1.5rem;
  /* 24px */
  --spacing-400: 2rem;
  /* 32px */
  --spacing-500: 2.5rem;
  /* 40px */
  --spacing-600: 3rem;
  /* 48px */
  --spacing-800: 4rem;
  /* 64px */
  --spacing-1600: 8rem;
  /* 128px */
  --spacing-1800: 9rem;
  /* 144px */
  --spacing-2300: 11.5rem;
  /* 184px */
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  /* Resets default browser behavior that prevents shrinking */
}

body {
  font-family: var(--font-rubik);
  background: var(--color-grey-50) url(assets/images/pattern-background-mobile-light.svg) no-repeat top center / cover;
  min-height: 100vh;
  line-height: var(--lh-150);
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 640px;
  margin-inline: auto;
  padding-inline: var(--spacing-300);
  padding-block-start: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  flex-grow: 1;
}

main {
  display: grid;
  place-items: center;
}

.theme-switcher {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-100);
  align-items: center;
}

.switch {
  display: flex;
  align-items: center;
}

.theme-toggle {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 32px;
  height: 20px;
  border-radius: 25px;
  background-color: var(--color-purple-600);
  transition: background 0.3s;
  cursor: pointer;
}

.theme-toggle::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  top: 50%;
  left: calc(4px + (12px / 2));
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: left 0.3s;
}

.theme-toggle:checked::after {
  left: calc(100% - 4px - (12px / 2));
}


.quiz-menu {
  display: grid;
}

.quiz-menu header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  line-height: var(--lh-120);
}

h1 {
  font-size: var(--fs-40);
  font-weight: var(--fw-light);
  color: var(--color-blue-900);
}

h1 strong {
  font-weight: var(--fw-medium);
}

.quiz-menu header p {
  font-size: var(--fs-14);
  line-height: var(--lh-150);
  color: var(--color-grey-500);
}

.quiz-menu nav {
  margin-top: var(--spacing-500);
}

.quiz-menu ul,
.quiz-question ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  list-style-type: none;
}

/* This is a reusable component class for the main menu and question options */
.option-card {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  background-color: var(--color-white);
  border: none;
  width: 100%;
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  text-align: left;
  color: var(--color-blue-900);
  padding: var(--spacing-200);
  border-radius: 12px;
  cursor: pointer;
}

.quiz-menu li button img {
  width: var(--spacing-500);
  height: var(--spacing-500);
  padding: var(--spacing-100);
  border-radius: var(--spacing-100);
}

.option-card:hover,
.option-card:focus-visible {
  box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.3);
}

[data-quiz-type="HTML"] img {
  background-color: var(--color-orange-50);
}

[data-quiz-type="CSS"] img {
  background-color: var(--color-green-100);
}

[data-quiz-type="JavaScript"] img {
  background-color: var(--color-blue-100);
}

[data-quiz-type="Accessibility"] img {
  background-color: var(--color-purple-100);
}

.quiz-question {
  width: 100%;
}

.quiz-question .letter {
  display: grid;
  place-items: center;
  font-size: var(--fs-18);
  color: var(--color-grey-500);
  width: var(--spacing-500);
  height: var(--spacing-500);
  background-color: var(--color-grey-50);
  border-radius: 6px;
}

.quiz-question .option-card:hover .letter,
.quiz-question .option-card:focus-visible .letter {
  background-color: var(--color-purple-100);
  color: var(--color-purple-600);
}

@media (min-width: 768px) {
  body {
    background: var(--color-grey-50) url(assets/images/pattern-background-tablet-light.svg) no-repeat top left / auto;
  }

  h1 {
    font-size: var(--fs-64);
  }

  .theme-toggle {
    width: 48px;
    height: 28px;
  }

  .theme-toggle::after {
    width: 20px;
    height: 20px;
    left: calc(4px + (20px / 2));
  }

  .theme-toggle:checked::after {
    left: calc(100% - 4px - (20px / 2));
  }

  .quiz-menu header p {
    font-size: var(--fs-20);
  }

  .quiz-menu .option-card img {
    width: 56px;
    height: 56px;
  }

  .quiz-question .letter {
    width: 56px;
    height: 56px;
  }

  .option-card {
    gap: var(--spacing-400);
    font-size: var(--fs-28);
  }
}

@media (min-width: 1200px) {
  body {
    background: var(--color-grey-50) url(assets/images/pattern-background-desktop-light.svg) no-repeat top left / auto;
  }

  .container {
    max-width: 1160px;
  }

  main {
    flex-grow: 1;
  }

  .quiz-menu {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-1600);
  }

  .quiz-menu nav {
    margin-top: 0;
  }
}